body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f0f3f7, #d9e2ec);
  color: #2c3e50;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #34495e;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 20px;
}

section {
  margin-bottom: 50px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
  margin-top: 20px;
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 5px;
  border: 0;
}

#youtubeSearch {
  width: 300px;
  max-width: 90%;
  padding: 10px 15px;
  font-size: 1rem;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
